[mysqld]

#skip_grant_tables = 1              #无密码登陆
validate_password_length = 6        #密码长度  （与无密码登陆不能同时启用）
validate_password_policy = 0        #密码复杂度（与无密码登陆不能同时启用）
secure_file_priv=/myload            #导入/导出数据的目录(需要提前创建好目录，否则无法启动)
default_storage_engine=innodb       #存储引擎
character_set_server = utf8         #默认字符集




log_bin=mysql-binlog               #启动binlog日志并指定日志文件存放位置和名字(指定的路径所有者/组都要为mysql)
server_id=1  	                     #指定id值
#max_binlog_size=数字m(可以不写)     #指定生成多少的数据再生成新的日志文件。默认为500M
binlog_format=mixed 	            #指定日志格式，
log_slave_updates			            #主从同步中开启记录从库的数据更新




plugin-load=rpl_semi_sync_【master/slace】=semisync_master.so   #这两个启用永
rpl_semi_sync_【master/slave】_enabled=1                        #久半同步复制





#开启多个数据库服务
[mysqld_multi]
mysqld=/usr/local/mysql/bin/mysqld_safe
mysqladmin=/usr/local/mysql/bin/mysqladmin
user=root
[mysqld1]
datadir=/datadir3307
socket=/datadir3307/mysql3307.sock
port=3307
log-error=/datadir3307/mysqld3307.log
pid-file=/datadir3307/mysqld3307.pid
[mysqld2]
datadir=/datadir3308
socket=/datadir3308/mysql3308.sock
port=3308
log-error=/datadir3308/mysqld3308.log
pid-file=/datadir3308/mysqld3308.pid






# innodb_buffer_pool_size = 128M
# log_bin
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
